---
import { getCollection } from "astro:content";
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Event from "@components/Event";
import getSortedEvents from "@utils/getSortedEvents";
import Hr from "@components/Hr.astro";

const events = await getCollection("speaking");
const sortedEvents = getSortedEvents(events);
const pastEvents = sortedEvents.filter(event => event.data.completed);
const upcomingEvents = sortedEvents
  .filter(event => !event.data.completed)
  .reverse();
---

<Layout title={`Speaking | ${SITE.title}`}>
  <Header activeNav="speaking" />
  <Main pageTitle="Speaking" pageDesc="My speaking appearances.">
    <a
      target="_blank"
      href="/speaking.xml"
      class="rss-link"
      aria-label="rss feed"
      title="RSS Feed"
    >
      <svg xmlns="http://www.w3.org/2000/svg" class="rss-icon"
        ><path
          d="M19 20.001C19 11.729 12.271 5 4 5v2c7.168 0 13 5.832 13 13.001h2z"
        ></path><path
          d="M12 20.001h2C14 14.486 9.514 10 4 10v2c4.411 0 8 3.589 8 8.001z"
        ></path><circle cx="6" cy="18" r="2"></circle>
      </svg>
      <span class="sr-only">RSS Feed</span>
    </a>
    <div id="featured">
      <h2>Upcoming</h2>
      <ul>
        {upcomingEvents.map(({ data }) => <Event frontmatter={data} />)}
      </ul>
    </div>
    <Hr noPadding />
    <div id="featured">
      <h2>Previous</h2>
      <ul>
        {pastEvents.map(({ data }) => <Event frontmatter={data} />)}
      </ul>
    </div>
  </Main>
  <Footer />
</Layout>

<style>
  .rss-link {
    @apply mb-6;
  }
  .rss-icon {
    @apply mb-2 h-6 w-6 scale-110 fill-skin-accent sm:mb-3 sm:scale-125;
  }
  #featured {
    @apply pb-3 pt-6;
  }
  #featured h2 {
    @apply text-2xl font-semibold tracking-wide;
  }
</style>
